CMakeFiles/
CMakeScripts/
CMakeCache.txt

DerivedData/
Debug/
Release/
xcodebuild/
gccxcodebuild/
gccbuild*/
*.build/
build*/
vsbuild*/

FES/external/

*.xcworkspacedata
xcuserdata/*.xcuserdatad/xcdebugger/*.xcbkptlist
*UserInterface*

.waf*
.lock*
.svn
*.aux
*.bbl
*.blg
*.dvi
*.log
*.ps
*.dia
*.o
*.a
*.ptx
*.rec
*.xcscheme
*.dat
*.xcbkptlist
*.DS_Store
*.xcscheme

embree/
nanogui/

video/
image/

*.mlp
*.TMP
